---
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Blog</title>
	</head>
    <header>
		<nav>
			<a href="/">Home</a> 
			<a href="/about">About</a>
			<a href="/blog">Blog</a>
		</nav>
	</header>
	<body>
		<h1>Blog</h1>
		<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Temporibus blanditiis consequatur recusandae repudiandae, enim laborum quasi iste, accusamus iusto, pariatur cumque corporis itaque quo architecto cupiditate. Consequatur laboriosam rem illo.</p>
	</body>
</html>
